.sign-up__container {
  margin-top: 50px;
  color: $white;
}

.sign-up__column {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: $gray;
}

.sign-up__button {
  margin: 0 auto;
  display: block;
}
